<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../stlyes/Navbar/Style.css" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="nav-con">
                    <ul class="navbar">
                        <li><a href="/">Home</a></li>
                        <li><a href="../pages/login/">Login</a></li>
                        <li><a href="../pages/Register/">Register</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </header> 
</body>
</html>